[submodule "deps/micropython-lib"]
	path = deps/micropython-lib
	url = https://github.com/belyalov/micropython-lib.git
[submodule "deps/micropython"]
	path = deps/micropython
	url = https://github.com/micropython/micropython.git
[submodule "deps/tinyweb"]
	path = deps/tinyweb
	url = https://github.com/belyalov/tinyweb.git
[submodule "deps/micropython-esp-utils"]
	path = deps/micropython-esp-utils
	url = https://github.com/belyalov/micropython-esp-utils.git
[submodule "deps/tinydns"]
	path = deps/tinydns
	url = https://github.com/belyalov/tinydns.git
[submodule "deps/tinymqtt"]
	path = deps/tinymqtt
	url = https://github.com/belyalov/tinymqtt.git
